body { margin: 0; font-family: sans-serif; }
#modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(0, 0, 0, .3);
    backdrop-filter: blur(10px);
}

#modal-card {
    background: #f5f5f5a1;
    width: 30%;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 5px 10px #0000005e;
    text-align: left;
    color: #2d2d2d;
}
#modal-message {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
}
.candidate-list
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.candidate-card
{
    display: flex;
    width: 13%;
    margin: .5em;
}

.candidate-card__checkbox { display: none }
.candidate-card__label {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 1em;
    text-align: center;
}
/* .candidate-card__checkbox:checked ~ .candidate-card__label, */
.candidate-card__label--selected {
    border: 1px solid rgb(128, 225, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
    background: rgba(130, 226, 255, .8);
}
.candidate-card__name { font-weight: bold }
.candidate-card__ref { font-size: 1em }
.candidate-card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.rounder {
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
}

.login-screen { 
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: center;
}

.login-card {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.login-card__submit {
    all: unset;
    box-shadow: inset 0px 12px 20px 0px #006bd3;
    cursor: pointer;
    padding: 1rem;
    background: dodgerblue;
    color: white;
    font-weight: bold;
    margin-top: 1rem;
    border-radius: 12px;
}
.login-card__input {
    all: unset;
    letter-spacing: 2rem;
    font-size: 4em;
    background: whitesmoke;
    border-radius: 12px;
    max-width: 512px;
    padding: 1rem 1rem 1rem 2rem;
    text-align: center;
    border: 1px solid gainsboro;
}

@media screen and (max-width: 600px) {
    .login-card__input {
        font-size: 1rem;
        letter-spacing: .5rem;
        max-width: 50%;
    }
    .login-card__submit {
        width: 50%;
    }
}
