body { margin: 0; }
#modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
}
.candidate-list
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.candidate-card
{
    display: flex;
    width: 13%;
    margin: .5em;
}

.candidate-card__checkbox { display: none }
.candidate-card__label {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 1em;
    text-align: center;
}
.candidate-card__checkbox:checked ~ .candidate-card__label,
.candidate-card__label--selected {
    border: 1px solid rgb(128, 225, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
    background: rgba(130, 226, 255, .8);
}
.candidate-card__name { font-weight: bold }
.candidate-card__ref { font-size: 1em }
.candidate-card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.rounder {
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
}

.login-screen { 
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: center;
}

.login-card {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.login-card__submit {
    all: unset;
    box-shadow: inset 0px 12px 20px 0px #006bd3;
    cursor: pointer;
    padding: 1rem;
    background: dodgerblue;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 1rem;
    border-radius: 12px;
}
.login-card__input {
    all: unset;
    letter-spacing: 2rem;
    font-size: 4em;
    background: whitesmoke;
    border-radius: 3px;
}
